

datasets/ressources/

.idea/

models/__pycache__/

datasets/resources/

datasets/__pycache__/

tests/runs/*

models/runs/*

datasets/dataset.pkl

raw_data/

runs/*

utils/__pycache__/


datasets/loaders.pkl

.vscode/launch.json

run/

*.gz

*.pkl

datasets/meta_Kindle_Store.json
